<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>LOGIN</title>
            <meta charset="UTF-8">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <script src="app.js"></script>
            <script src="googlesdk.js"></script>
            <script src="linkedinsdk.js"></script>
            <!-- -->
    </head>

<body>


    <div ng-controller="MyLinkedinController as li">
        <button ng-click="li.login();">Accedi con Linkedin</button>
        <p>{{li.linkedin.id}}</p>
        <p>{{li.linkedin.firstName}}</p>
        <p>{{li.linkedin.lastName}}</p>
        <p>{{li.linkedin.emailAddress}}</p>
        <p>{{li.linkedin.profileUrl}}</p>
        <p>{{li.linkedin.info}}</p>
    </div>


    <div ng-controller="GooCtrl as go">
        <button ng-click="login()">Accedi con Google Plus</button>
        <p>{{go.google.id}}</p>
        <p>{{go.google.firstName}}</p>
        <p>{{go.google.lastName}}</p>
        <p>{{go.google.emailAddress}}</p>
        <p>{{go.google.profileUrl}}</p>
        <p>{{go.google.info}}</p>
    </div>
    
    
    
</body>
</html> 